nav {
  width: 260px;
  height: 100%;
  background-color: #fafafa;
  overflow: auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


li a {
  display: block;
  color: #242424;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

li a:hover {
  background-color: #f0f0f0;
}

li a.active {
  background-color: #cfe4fa;
  font-weight: 600;
}

section.page {
  position: relative;
  width: calc(100% - 260px);
  height: 100%;
}
